<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="Listeners.Listener"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
    	<class name="Testcases.Tc_01_Navigatetowebpage"/>
     	<class name="Testcases.Tc_02_Verify_LinkBroken"/>
     	<class name="Testcases.Tc_03_CreateaccountpageTest"/>
    	<class name="Testcases.Tc_04_Siginpage"/>
     	<class name="Testcases.Tc_05_Homepage"/>
    	<class name="Testcases.Tc_06_Search_additem"/>
      	<class name="Testcases.Tc_07_Menu_shop_by_Dept"/>
     	<class name="Testcases.Tc_08_Menu_Brand_Select"/>
      	<class name="Testcases.Tc_09_Checkout_fillingpage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
